*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}
body{
    background-color: #ede6dd;
}
.top{
    margin: auto;
    padding-bottom: 160px;
}
.logo{
    display: flex;
    float: left;
    align-items: center;
    margin: 20px 40px;
}
.links{
    display: flex;
    float: left;
    margin-top: 65px; 
    width: 80%;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
h1{
    color: #2c3a47;
    font-weight: 900;
    padding-left: 125px;
}
.main{
    width: 800px;
    margin: 0 auto;
}

.email{
    
    padding:50px;

}
.photo{
    float: left;
    padding-left: 120px;
}