<!DOCTYPE html>
<html>
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medBay</title>
  <link rel="stylesheet" type="text/css" href="../static/About.css"> 
</head>
<body>
    
    <div class = "top">
        <div class = "logo">
          <img src = "../static/medBay_logo1.png" style = "width:140px; height:120px;">
        </div>
        <div class = "links">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Contact.html">Contact</a></li>
          </ul>
        </div>  
      </div>


    <div>
        <h1> Everyday vet technicians perform surgeries for pets around the world...</h1>
    <img src = "../static/dog2.jpg" style = "width:1000px; height:500px;">
    <h2>medBay is innovating a redesigned pulse oximeter</h2>
    <p>to ensure safety and efficiency in the clinic, so pet owners and technicians alike can breath easy</p>
    </div>
    

    
</body>
</html>