<!DOCTYPE html>
<html>
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medBay</title>
  <link rel="stylesheet" type="text/css" href="../static/About.css"> 
</head>
<body>
    
    <div class = "top">
        <div class = "logo">
          <a href = "../index.html">
            <img src = "../static/medBay_logo1.png" style = "width:140px; height:120px; ">
          </a>
          
        </div>
        <div class = "links">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="Contact.html">Contact</a></li>
          </ul>
        </div>  
      </div>


    <div>
        
    <img src = "../static/dogText.png" style = "width: 1450px; height: 650px;">
    <h2>medBay is innovating a redesigned pulse oximeter to increase safety and efficiency in the clinic.
       <br>Helping technicians better monitor the oxygen levels in your pets blood <br> 
       and decreasing time spent under anaesthesia.</h2>

    <img src = "../static/cat.png" style = "width: 1450px;">

    <h2>medBay collects old devices from clinics and donates them where they are needed most.</h2>

    <img src = "../static/wiggle.png" style = "height: 500px; width: 900px; padding-left:290px">

    <h2>With a simple phone app pet owners can monitor their pets oxygen from home.</h2>

    <img src = "../static/wiggle2.png" style = "padding-left: 125px; width: 1200px;">

    </div>

    

    
</body>
</html>